In [ ]:
# функция для разделения строки и преобразования в список

s = 'robert downey junior'

def list_from_str(st: str) -> list:

  lst = s.split(' ')

  return lst

list_from_str(s)

['robert', 'downey', 'junior']

In [ ]:
# натан и велосипед

import math

def liters_of_water(time: int) -> int:

  liters_per_hour = 0.5
  water = math.floor(liters_per_hour * time)

  return water

liters_of_water(5)

2

In [ ]:
# числа от n до 1 по убыванию

n = 6

def some_func(n: int) -> list:

  lst = []

  for i in range(n, 0, -1):
    lst.append(i)

  return lst

some_func(n)

[6, 5, 4, 3, 2, 1]

In [ ]:
#  вывести век, в котором находится год

year = 1784

def cen_of_year(year: int) -> int:

  century = year // 100 + 1

  return century

cen_of_year(year)

18

In [ ]:
# цифры числа в обратном порядке

numb = 123456789

def list_from_number(numb: int) -> list:

  lst = []

  while numb > 9:
    lst.append(numb % 10)
    numb //= 10

  return lst

list_from_number(numb)

[9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
# vertical matrix

k = 4

def some_matrix(size: int) -> list:

  counter = 10
  matr = []

  for _ in range(size):
    matr.append([])

  for i in range(size):
    if i % 2 == 0:
      for j in range(size):
        matr[j].append(counter)
        counter += 1
    else:
      for j in range(size-1,-1,-1):
        matr[j].append(counter)
        counter += 1

  return matr

some_matrix(5)

[[10, 19, 20, 29, 30],
 [11, 18, 21, 28, 31],
 [12, 17, 22, 27, 32],
 [13, 16, 23, 26, 33],
 [14, 15, 24, 25, 34]]

In [ ]:
# horizontal matrix

n = 5

def matrix_size_n(size: int) -> list:

  counter = 10
  matr = []

  for i in range(size):
    temp = []
    for j in range(size):
        temp.append(counter)
        counter += 1
    if i % 2 == 0:
      matr.append(temp)
    else:
      matr.append(temp[::-1])

  return matr

matrix_size_n(n)

[[10, 11, 12, 13, 14],
 [19, 18, 17, 16, 15],
 [20, 21, 22, 23, 24],
 [29, 28, 27, 26, 25],
 [30, 31, 32, 33, 34]]